*{
  box-sizing: border-box;
}

body {
  background-color: white;
}
.py-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

#bg-download {
  background: url(/Image/Vector\ Smart\ Object7.png);
}

i {
  color: black;
  font-size: 2rem;
}

#rotat {
  position: relative;
}
#rotate-img {
  position: absolute;
  transform:rotate(-30deg);
  top: 0;
  left: 0;
  z-index: -1;
}

#avatar {
  border-radius: 50%;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  display: flex;
}

#tag {
  border-radius: 50px;
}

.star {
  color: yellow;
}
